<h1 class="title">Add one User</h1>

<div [formGroup]="form" class="container">
  <button mat-raised-button color="accent" class="btn-back" routerLink="/">
    Back to Search
  </button>
  <p>
    <mat-form-field class="input-full-width">
      <input matInput placeholder="avatar" formControlName="avatar" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="input-full-width">
      <input matInput placeholder="email" formControlName="email" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="input-full-width">
      <input matInput placeholder="first name" formControlName="first_name" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="input-full-width">
      <input matInput placeholder="last name" formControlName="last_name" />
    </mat-form-field>
  </p>

  <button
    mat-raised-button
    color="primary"
    #saveButton
    (click)="save()"
    class="save-button"
  >
    Save
  </button>
</div>
